body{
    margin: 0;
    padding: 0;
}

ul{
    background-color: rgb(232, 239, 244);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

li a{
    float: left;
}

ul li :last-child{
    border-right: none;
   
}
ul li a{
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 20px 25px;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}

ul li a:hover{
    background-color: blueviolet;
    color: white;
}
